
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(rgba(253, 25, 25, 0.205),rgba(80, 185, 255, 0.836));
}

.content{
    display: grid;
    place-items: center;
}

#img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    
}

#submit{
    height: 45px;
    background-color: rgb(245, 16, 16);
    color: white;
    border: none;
    border-radius: 12px;
    font-size: large;
    padding: 10px;
    font-variant: small-caps;
    cursor: pointer;
}